html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.noMails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noMails h2 {
  font-size: 30px;
  color: black;
}

.noMails p {
  font-size: 20px;
  color: rgb(41, 41, 41);
}
